<h1>Visual WebSocket Chat</h1>

<form>
  <label>Name:</label>
  <input type="text" id="name_form" value="">
  <br>
  <label>Message:</label>
  <input type="text" id="message_form" value="">
  <br>
  <input type="file" id="file_form" data-behavior="image_loader" name="upfile" size="30" value="">
  <br>
  <input type="button" data-behavior="room_speaker" value="Submit">
</form>

<h5>Received Messages</h5>

<div id="messages"></div>